.btn{
    margin-left: 20px;
}

.ctrl-bns{
    margin-top: 46px;
}

.table-wrapper{
    margin-top: 50px;
}
.date-col{
    flex: 2;
}
.user-col{
    flex: 3;
}
.reasons-col{
    flex: 1;
}
.transaction-col{
    flex: 4;
}