<div class="row">
    <div class="col-md-3">
        <div class="form-group fill">
            <label>
                <h5>Date From</h5>
            </label>
            <input 
                [(ngModel)]="startDate" 
                #dateFromDp="dpDayPicker"
                [dpDayPicker]="cfgDatePicker1" 
                [mode]="'day'"
                class="form-control md"
                theme="dp-material" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group fill">
            <label>
                <h5>Date To</h5>
            </label>
            <input 
                [(ngModel)]="endDate" 
                #dateFromDp="dpDayPicker"
                [dpDayPicker]="cfgDatePicker2" 
                [mode]="'day'"
                class="form-control md"
                theme="dp-material" />
        </div>
    </div>
    <div class="col-md-3 text-center">
        <button class="btn md" (click)="search()" style="margin-top: 32px;">Show</button>
    </div>
</div>
<div class="row">
    <div class="table-wrapper text-left">
        <table class="table horizontal-table">
            <thead>
                <tr>
                    <th class="date-col">Summary</th>
                    <td *ngFor="let col of salesData">{{col.date}}</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="date-col">Totals</th>
                    <td *ngFor="let col of salesData">{{col.totals}}</td>
                </tr>
                <tr>
                    <th class="date-col">Revenue</th>
                    <td *ngFor="let col of salesData">{{col.revenue}}</td>
                </tr>
                <tr>
                    <th class="date-col">Cost of Goods</th>
                    <td *ngFor="let col of salesData">{{col.costOfGoods}}</td>
                </tr>
                <tr>
                    <th class="date-col">Gross Profit</th>
                    <td *ngFor="let col of salesData">{{col.grossProfit}}</td>
                </tr>
                <tr>
                    <th class="date-col">Margin</th>
                    <td *ngFor="let col of salesData">{{col.margin}}</td>
                </tr>
                <tr>
                    <th class="date-col">Tax</th>
                    <td *ngFor="let col of salesData">{{col.tax}}</td>
                </tr>

            </tbody>
        </table>
    </div>
    
</div>
<div class="row text-left">
    <div class="card">
        <div class="card-header text-left"><h4>Totals by Summary</h4></div>
        <div class="card-body">
            <div class="table-wrapper">
            <table class="table">
                <thead>
                    <tr>
                        <th >Revenue</th>
                        <th >Cost of Goods</th>
                        <th >Gross Profit</th>
                        <th >Margin</th>
                        <th >Tax</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{tatalRevenue}}</td>
                        <td>{{totalCostOfGoods}}</td>
                        <td>{{totalGrossProfit}}</td>
                        <td>{{totalMargin}}</td>
                        <td>{{totalTax}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>