.table-wrapper{
    .horizontal-table{
        width: unset;
        overflow: scroll;
    }

    th{
        width: 160px !important;
        min-width: 160px !important;
        max-width: 160px !important;
        flex: none;
    }

    td{
        width: 80px !important;
        min-width: 80px !important;
        max-width: 80px !important;
        flex: none;
    }
}