<div class="row">
    <div class="form-group fill">
        <label><h3>Search for products:</h3></label>
        <input type="text" class="form-control lg" [(ngModel)]="keyword" (change)="searchData()" placeholder="Enter product to search...">
    </div>
</div>

<div class="row">
    <div class="card fill">
        <div class="card-header text-left"><h2>Sell Data:</h2></div>
        <div class="card-body">
            <div class="table-wrapper">
            <table class="table">
                <thead>
                    <tr>
                        <th >QYT</th>
                        <th >Item</th>
                        <th >Price</th>
                        <th >Discount</th>
                        <th >Total</th>
                        <th >Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of sellData">
                        <td>{{row.qyt}}</td>
                        <td>{{row.item}}</td>
                        <td>{{row.price}}</td>
                        <td>{{row.discount}}</td>
                        <td>{{row.total}}</td>
                        <td>{{row.action}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>