.content{
    padding-top: 70px;
}
.summary{
    width: 350px !important;
    max-width: 400px;

    th{
        max-width: 230px;
        width: 230px;
    }

    td{
        max-width: 160px;
        width: 120px;    
    }
}