<div class="content">
    <div class="card fill">
        <div class="card-body">
            <div class="btn-toolbar" role="toolbar">
                <div role="group" aria-label="First group">
                    <button type="button" class="btn md" (click)="orderBook()">Order Stock</button>
                    <button type="button" class="btn md" (click)="returnStock()">Return Stock</button>
                    <button type="button" class="btn md" (click)="inventoryCount()">Inventory Count</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 form-group-inline d-flex">
                <label class="inline text-right"><h4>Please choose...</h4></label>
                <div class="flex-grow-1">
                    <input type="text" class="md inline form-control" [(ngModel)]="keyword" />
                </div>
            </div>
            <div class="col">
                <button type="button" class="btn md" (click)="searchStock()">Search Stock</button>
            </div>
        </div>

        <div class="table-wrapper fill">
            <table class="table">
                <thead>
                    <tr>
                        <th >Name</th>
                        <th >Type</th>
                        <th >Delivery Due</th>
                        <th >Number</th>
                        <th>Outlet</th>
                        <th >Source</th>
                        <th >Status</th>
                        <th >Items</th>
                        <th >Total Cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of stockData">
                        <td>{{row.name}}</td>
                        <td>{{row.type}}</td>
                        <td>{{row.deliveryDue}}</td>
                        <td>{{row.number}}</td>
                        <td>{{row.outlet}}</td>
                        <td>{{row.source}}</td>
                        <td>{{row.status}}</td>
                        <td>{{row.items}}</td>
                        <td>{{row.totalCost}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    
    </div>
</div>
