<div class="row">
    <div class="col-sm-3">
        <div class="form-group fill">
            <label>
                <h5>Date From</h5>
            </label>
            <input 
                [(ngModel)]="startDate" 
                #dateFromDp="dpDayPicker"
                [dpDayPicker]="cfgDatePicker1" 
                [mode]="'day'"
                class="form-control md"
                theme="dp-material" />
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group fill">
            <label>
                <h5>Date To</h5>
            </label>
            <input 
                [(ngModel)]="endDate" 
                #dateFromDp="dpDayPicker"
                [dpDayPicker]="cfgDatePicker2" 
                [mode]="'day'"
                class="form-control md"
                theme="dp-material" />
        </div>
    </div>
    <div class="col-sm-3 text-center">
        <button class="btn md" (click)="search()" style="margin-top: 32px;">Show</button>
    </div>
</div>
<div class="row">
    <div class="table-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th class="date-col">Date</th>
                    <th class="user-col">User</th>
                    <th class="register-col">Register</th>
                    <th class="receipt-col">Receipt</th>
                    <th class="customer-col">Customer</th>
                    <th class="note-col">Note</th>
                    <th class="status-col">Status</th>
                    <th class="total-col">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of saleData">
                    <td>{{row.date}}</td>
                    <td>{{row.user}}</td>
                    <td>{{row.register}}</td>
                    <td>{{row.receipt}}</td>
                    <td>{{row.customer}}</td>
                    <td>{{row.note}}</td>
                    <td>{{row.status}}</td>
                    <td>{{row.total}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>