<div class="content">

<div class="card fill">
    <div class="card-body">
        <div class="btn-toolbar justify-content-between" role="toolbar">
            <div class="btn-group" role="group" aria-label="First group">
              <button type="button" class="btn md" (click)="toExcel()">Excel</button>
            </div>
            <div>
                <label style="display: inline-block" class="col-4" ><h5>Search</h5></label>
                <input style="display: inline-block" type="text" class="form-control md col-8" [(ngModel)]="keyword" (change)="search()">
            </div>
          </div>

        <div class="table-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th >Product</th>
                    <th >Outlet</th>
                    <th >Current Stock</th>
                    <th >Stock Value</th>
                    <th >Item Value</th>
                    <th >Reorder Point</th>
                    <th >Reorder Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of inventoryData">
                    <td>{{row.product}}</td>
                    <td>{{row.outlet}}</td>
                    <td>{{row.currentStock}}</td>
                    <td>{{row.stockValue}}</td>
                    <td>{{row.itemValue}}</td>
                    <td>{{row.reorderPoint}}</td>
                    <td>{{row.reorderAmount}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
</div>
